.ix-server-table-img-link {
    width: 15px;
    height: 15px;
    display: block;
    background: url('../img/photo-ico.png') center right no-repeat;

}

.entry-content table.ix-server-filter-table, .ix-server-filter-table,
.entry-content table.ix-server-list-table, .ix-server-list-table,
.ix-server-table
 {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #dddddd;
    font-size: 11px;
    width: 100%;
}

.entry-content tr th.ix-server-filter-header-cell, .ix-server-filter-header-cell {
    font-weight: 800;
    border: 1px #ddd solid
}

.ix-server-filter-select-group-label {
    font-weight: 600;
}

.ix-server-filter-select-list-item {
  display: block;
  cursor: pointer;

}

.ix-server-filter-select-list-item label,  .ix-server-filter-select-list-item input {
  cursor: pointer;

}

.ix-server-filter-select-list-item:hover {
  background-color: #f2f2f2;

}

.ix-server-option-disabled, .ix-server-option-disabled label,  .ix-server-option-disabled input {
  color: #aaa;
  cursor: default;

}

.ix-server-filter-select-list-item.ix-server-option-disabled:hover {
  background-color: transparent;

}

.ix-server-filter-table-cell {
  vertical-align: top;
  border:#dddddd 1px solid;

}

.entry-content ul.ix-server-filter-select-list, .ix-server-filter-select-list {
  padding-bottom: 5px;
}

.ix-server-filter-table-separator {
    border-bottom: 1px #ddd solid;
    width: 100%;
}


.lightbox {
    display: none;
}

.entry-content tr th.ix-server-list-table-head-cell, .ix-server-list-table-head-cell {
    font-weight: 800;
    border: 1px #ddd solid;
    color: #337ab7;
    cursor: pointer;
}

.entry-content tr th.ix-server-list-table-head-cell:hover, .ix-server-list-table-head-cell:hover, a.ix-server-list-model-link:hover {
    color: #096abf;
}

img.ix-server-list-model-img {
  width: 200px;
  text-align: center;
}

.ix-server-list-model-heading {
  text-align: center;
}

.ix-server-list-table-cell {
  border:#dddddd 1px solid;
}

.ix-server-list-table-body-row:hover .ix-server-list-table-cell {
  background-color:#f2f2f2;
  cursor: pointer;
}

.ix-server-family-site-main {
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 65px;
}

.ix-server-family-site-main::after {
    clear: both;
    display: block;
    content: "";
}

.ix-server-family-page-header::after {
    content: "";
    clear: both;
    display: block;
    border-bottom: 1px #dcdcdc solid;
    margin-bottom: 2em;
}

.ix-server-family-description-wrapper {
    padding-right: 15px;
    padding-left: 15px;
    width: 50%;
    float: left;
}

.ix-server-family-slick {
    width: 90%;
    float: none;
    padding: 7px 45px 7px 45px;
    margin: 0 auto;
    min-height: 275px;
}

.ix-server-family-perex {
    line-height: 1.25;
    color: #333333;
    font-size: 1.87em;
    padding-bottom: 1.5em;
}

.slick-prev:before, .slick-next:before {
    font-size: 25px;
    color: #40b0e1;
}

.slick-prev
{
    left: -5px;
}

.slick-next {
    right: -5px;
}

.ix-server-family-description {
    font-size: 14px;
    color: #494949;
    padding-bottom: 1.5em;
}

.ix-server-table-title {
    padding: 4px;
    font-size: 0.97em;
    line-height: 1.2;
    text-align: center;
    font-weight: 500;
    color: #ffffff;
    background-color: #0096D7;
    border-left: 1px solid #dddddd;
}

.ix-server-table-cell {
    padding: 4px;
    font-size: 0.97em;
    line-height: 1.2;
    text-align: center;
    font-weight: 400;
    border-left: 1px solid #dddddd;
	cursor: pointer;
}

.ix-server-table-row:hover .ix-server-table-cell {
	background-color: #e8e8e4;
}

.ix-server-selected .ix-server-table-cell {
	background-color: #F5F5F5;
}

.ix-server-tab, .ix-server-foux-tab {
    display: block;
    float: left;
    padding: 10px 15px;
    margin: 0 0 0 0;
    cursor: pointer;
    color: #096abf;
    position: relative;
    top: 1px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-bottom-color: #ddd;
    line-height: 1.42857143;
    border-radius: 4px 4px 0 0;
    margin-right: 2px;
}

.ix-server-foux-tab {
    background-color: #0096d7;
    color: white;
}

.ix-server-tab:hover, .ix-server-foux-tab:hover {
    background-color: #ddd;
}

.ix-server-foux-tab:hover {
    color: #096abf;
}

.ix-server-tab-active {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.ix-server-tab-active:hover {
    background-color: #fff;
}

.ix-server-tabs-wrap {
    width: 50%;
    float: right;
    padding-right: 15px;
    margin-bottom: 25px;
}

.ix-server-table-wrap {
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 25px;

}

.ix-server-specs-table {
	font-size: 11px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #dddddd;
    width: 100%;
}

.ix-server-specs-table th {
	color: #555;
	font-weight: bold;
	border-right: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	background-color: #f9f9f9;
	padding-left: 5px;
    padding-right: 2px;
}

.ix-server-specs-table td {
	border-top: 1px solid #eee;
	background-color: white;
	padding-left: 4px;
    padding-right: 2px;
}

.ix-server-tabs-title {

    text-align: center;

}

.ix-server-tabs::after {
	display: block;
	content: "";
	clear: both;
}

.ix-server-tab-target-wrap {
	border: 1px solid #ddd;
}

.ix-server-tab-target {
	padding: 15px;
	display: none;
}

.ix-server-show {
	display: block;
}

.ix-server-description {
    margin: 10px;
    border: #ddd 1px solid;
}

.ix-server-description li {
    list-style-type: disc;
}

.ix-server-specs-table th[colspan] {
    text-align: center;
    padding-top: 10px;
    font-size: 120%;
    color: #096abf;
    padding-bottom: 5px;
    border-top: #ddd 1px solid;
}

.ix-server-table-title div {
	cursor: pointer;
}

.ix-server-table-title div:hover {
	color: #dddddd;
}

.ix-server-table-header-flexor {
	display: flex;
	justify-content: space-between;
}

.ix-server-table-notice {
	font-size: 70%;
}

.ix-server-amd-table {
	margin-top: 70px;
}

.ix-server-show-row {
    display: table-row;
}

.ix-server-hide-row {
    display: none;
}

.ix-server-family-red, .ix-server-family-green {
    font-weight: 800;
}

.ix-server-family-red {
    color: red;
}

.ix-server-family-green {
    color: green;
}

/* --- iX Hero Image --- */
.ix-server-family-page-header {
        display: none;
    }


.ix-server-family-hero-container {
    background-color: #F1F0F0;
    position: relative;
    z-index: 2; }

.ix-server-family-hero {
    position: relative;
    overflow: hidden;
    background: url() no-repeat scroll 50% 50%;
    background-size: cover;
}

.ix-server-family-hero-dummy {
    padding-top: 20vw;
}

.ix-server-family-hero-text {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
}

.ix-server-family-hero-h1, .ix-server-family-hero-h2, .ix-server-family-hero-p p {
    font-family: "HelveticaNeue";
    color: #333;
    text-align: center;

}

.ix-server-family-hero-button {
    padding-top: 4vh;
}

.ix-server-family-hero-p {
    padding-top: 3vw;
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
}

.ix-server-family-hero-p p {
    font-size: 0.85vw;
}

.ix-server-family-hero-h1 {
    font-size: 2vw;
    padding-top: 2vw;
    font-weight: 300;
}

.ix-server-family-hero-h2 {
    font-size: 2.5vw;
    margin: 0;
    font-weight: 100;

}

@media only screen and (max-width:1100px) {

    .ix-server-family-hero-container {
        display: none;
    }
    .ix-server-family-page-header {
        display: block;
    }

}
fa
@media only screen and (max-width:1200px) {

    .ix-server-family-hero-dummy {
        padding-top: 27vw;
    }

    .ix-server-family-hero-p {
        padding-top: 14vw;
    }
 }

@media only screen and (max-width:1400px) {

    .ix-server-family-hero-dummy {
        padding-top: 23vw;
    }

    .ix-server-family-hero-p {
        padding-top: 11vw;
    }
 }

@media only screen and (min-width: 2500px) {
    .ix-server-family-hero-dummy {
        padding-top:22vw
    }

    .ix-server-family-hero-p {
        padding-top: 9vw
    }
}

/* --- End of iX Hero Image --- */

@media (max-width: 1290px) {
  .ix-server-family-description-wrapper, .ix-server-table-wrap, .ix-server-tabs-wrap {
    width: 100%;
    float: none;
  }
  .ix-server-family-description-wrapper a {
    display: block !important;
    margin: 15px auto !important;
  }
  .ix-server-family-slick {
    width: 80%;
    float: none;
    margin: 0 auto;
    padding: 10px 0px;
  }
  .ix-server-table-wrap, .ix-server-tabs-wrap {
      padding-left: 0px;
      padding-right: 0px;
  }
  .ix-server-tabs-wrap {
      padding-top: 15px;
  }

  main {
    height: auto !important;
  }

}

@media (max-width: 800px) {
  .ix-server-table-img-link {
      margin: 0 auto;
  }
}

.ixhs-server-family {
    width: 60%;
    margin: 15vh auto;
    background-color: white;
    padding: 35px;
    border-radius: 10px;
    position: relative;
}